#public teamroots.embers.block.BlockSteamEngine func_149915_a(Lnet/minecraft/world/World;I)Lnet/minecraft/tileentity/TileEntity; # createNewTileEntity
#public teamroots.embers.tileentity.TileEntityBoilerBottom func_73660_a # update
public net.minecraft.util.FoodStats field_75126_c # foodExhaustionLevel